@charset "UTF-8";
/* font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif; */

/* 레이아웃 */
#wrap{}
#header{
    height: 325px;
    background: url(https://cdn.pixabay.com/photo/2014/05/24/00/07/woven-cloth-352481_1280.jpg) center top;
}
#contents{}

#footer{
    border-top: 1px solid #eee;
}





/* contents layout */
.cont_nav{background-color: #f6fdff;}
#cont_tit{background-color: #eaf7fd;}
#cont_ban{background-color: #dceff7;}
#cont_cont{background-color: #f6fdff;}

/* container */
.container{width: 990px; margin: 0 auto;}

/* header */
.header{}
.header .header-menu{text-align: right;}
.header .header-menu a{color: #fff;}

.header .header-title{text-align: center;}
.header .header-title h1{
    background-color: #4aa8d4;
color: #fff; font-size: 28px; 
text-transform: uppercase;
text-align: center; margin-top: 40px;
display: inline-block;
padding: 5px 20px 6px;
/* inline요소는 padding과 margin이 좌우만 적용, 상하(x) */
}
.header .header-title a{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 5px 20px 6px;
    background-color: #2698cb;
    margin-top: -5px; /* padding은 음수를 줄수 없음 */
}


.header .header-icon{text-align: center;margin-top: 30px;}
.header .header-icon a{display: inline-block;
    width: 60px; height: 60px;
    background-image: url(../img/icon.png);
    margin: 0 3px;

}
.header .header-icon .icon1{
    background-position: 0 0;
}
.header .header-icon .icon2{
    background-position: 0 -60px;
}
.header .header-icon .icon3{
    background-position: 0 -120px;
}
.header .header-icon .icon4{
    background-position: 0 -180px;
}

.header .header-icon .icon1:hover{
    background-position: -60px 0;
}
.header .header-icon .icon2:hover{
    background-position: -60px -60px;
}
.header .header-icon .icon3:hover{
    background-position: -60px -120px;
}
.header .header-icon .icon4:hover{
    background-position: -60px -180px;
}

/* nav */
.nav{
    display: none;
    padding: 30px 0;}
.nav>div{float: left;width: 40%;}
.nav>div.last{width: 20%;}
.nav>div h3{font-size: 18px;
color: #25a2d0; margin-bottom: 4px;
}
.nav>div ol{overflow: hidden;}
.nav>div ol li{float: left; width: 50%;
margin-bottom: 3px;
position: relative;
}
.nav>div ol li::after{content:"";
position: absolute;
left: 0; bottom: 0;
width:0; height: 2px; 
background-color: #25a2d0;
/* transform: scaleX(0);
transform-origin: left top; */
transition: 0.3s;
}
.nav>div ol li:hover::after{
    /* transform: scale(1); */
    width: 100%;
}
.nav>div.last ol li{width: 100%;}
.nav>div ol li a{}

/* tit 나는 퍼블리셔다*/
.tit{position: relative;}
.tit h2{font-size: 40px;
color: #2c94c4;
text-align: center;
font-family: 'Nanum Brush Script', cursive;
padding: 10px 0;
letter-spacing: 2px;/* 자간 */
}
.tit .btn{position: absolute;
right: 0; top: 5px;
width: 60px; height: 60px;
background:url(../img/icon.png);
background-position: 0 -600px ;
}
.tit .btn.on{background-position: 0 -660px ;}

/* banner */
.ban{padding: 24px 0 40px;
padding-left: 25px;
}
.ban img{border: 4px solid #dcdcdc;}
.ban img:hover{
   /*  border: 4px solid #98dcdc; */
    border-color: #98dcdc;
}

.ban .slick-arrow{
    position: absolute;
    left: -80px; top: 70px;
    background: url(../img/icon.png) -150px 0;
    width: 43px; height: 43px;
    text-indent:-99999em;

   /*  1em --> 가지고있는 폰트의 크기  
    1rem --> root자리가 가지고있는 폰트의 크기 */

}
.ban .slick-prev:hover{
    background-position: -193px 0;
}
.ban .slick-next{
    left:auto;
    right:-80px;
    background-position: -150px -43px;
}
.ban .slick-next:hover{
    background-position: -193px -43px;
} 


/* //css에서 fontawesome를 사용하는 방법 */
/* .ban .slick-arrow{position: absolute; left: -80px; top: 70px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900; visibility: hidden;
    font-size: 30px; color: #4aa8d4;
}
.ban .slick-prev{}
.ban .slick-prev:before{content: "\f0a8"; visibility: visible;}

.ban .slick-next{left: auto; right: -100px;}
.ban .slick-next:before{content: "\f35a"; visibility: visible;} */


.ban .slick-dots{text-align: center;}
.ban .slick-dots li{display: inline-block; margin: 5px;}
.ban .slick-dots li button{
    width: 15px; height: 15px;
    background-color: #5dbfeb;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    transform: scaleX(1);
    transition: 0.3s;
}

.ban .slick-dots li.slick-active button{
    background-color: #2b91c8;
    transform: scaleX(1.3);
    transform-origin: left center;
    border-radius: 7px;
}

/* //cont */
.cont{padding-top: 30px;}
.cont .column{width: calc((100% - 123px)/3); height: 363px;
float: left; 
padding-right: 30px; 
margin: 0 30px 30px 0;
border-right: 1px solid #c8c8c8;

}
.cont .col1{}
.cont .col2{}
.cont .col3{border-right: 0;
    margin-right: 0;padding-right: 0;}
.cont .col4{}
.cont .col5{}
.cont .col6{border-right: 0;
    margin-right: 0;padding-right: 0;}

.cont .more{width: 17px; height: 17px;
        background: url(../img/icon.png)-150px -90px;
        right: 0;top: 0;}

.cont .column h3{}
.cont .column h3 .ico_img{
    background-image: url(../img/icon.png);
    width: 60px; height: 60px;
}
.cont .col1 h3 .ico_img{background-position: 0 -240px;}
.cont .col2 h3 .ico_img{background-position: 0 -300px;}
.cont .col3 h3 .ico_img{background-position: 0 -360px;}
.cont .col4 h3 .ico_img{background-position: 0 -420px;}
.cont .col5 h3 .ico_img{background-position: 0 -480px;}
.cont .col6 h3 .ico_img{background-position: 0 -540px;}

.cont .col1 h3 .ico_img:hover{background-position: -60px -240px;}
.cont .col2 h3 .ico_img:hover{background-position: -60px -300px;}
.cont .col3 h3 .ico_img:hover{background-position: -60px -360px;}
.cont .col4 h3 .ico_img:hover{background-position: -60px -420px;}
.cont .col5 h3 .ico_img:hover{background-position: -60px -480px;}
.cont .col6 h3 .ico_img:hover{background-position: -60px -540px;}


.cont .column h3 .ico_tit{
    font-size: 16px;
    color: #2c94c4;
    padding-left: 70px;
}
.cont .column .ico_desc{
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 70px;
}

/* 게시판 notice */
.notice{position: relative;}
.notice h4{font-size: 14px;
color: #0093bd; font-weight: bold;
padding-bottom: 3px;
}
.notice ul{}
.notice ul li{
    /* 말줄임말 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* //말줄임말 */
  /*   white-space: pre:
    white-space: normal:
    white-space: nowrap:
    text-overflow: ellipsis; ... 이됨
    text-overflow: clip; 화면에서 잘림*/

    background: url(../img/dot.gif)no-repeat 0 8px;
    padding-left: 8px; /* 글자와 이미지가 있을땐 글자를 움직인다 */
    
}
.notice ul li a{font-size: 12px;}



/* 게시판 유형2 */
.notice2{margin-top: 15px; position: relative;}
.notice2 ul{}
.notice2 ul li{
    overflow: hidden;
    background: url(../img/dot.gif)no-repeat 0 8px;
    padding-left: 8px;}
.notice2 ul li a{float: left; width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.notice2 ul li span{float: right; width: 30%;}

/* notice_hover */
.notice_hover{}
.notice_hover h4{
    font-size: 14px;
    color: #0093bd;
    font-weight: bold;
    padding-bottom: 3px;
}
.notice_hover ul{}
.notice_hover ul li{
float: left;
margin-right: 2%;
width: 32%;}
.notice_hover ul li:last-child{margin-right: 0;}
.notice_hover ul li a{}
.notice_hover ul li a span{
    position: relative;
display: block;}
.notice_hover ul li a span img{
width: 100%;
/* 이미지 요소가 가진 공간을 없애는 방법
inline요소이기 때문에 알수없는 공간이 발생한다
1)display:block
2)vertical-align:top; */
display: block;
}
.notice_hover ul li a span em{
/* 영역을 안보이게 하는 방법 
1)display:none ---> 공간x 애니메이션x
2)visibility:hidden ---> 공간o 애니메이션x
3)opacity:0 ----> 공간o 애니메이션o */

position: absolute;
left: 0;top: 0;
/* right: 0;bottom: 0; */
width: 100%; height: 100%; 
background-color: rgba(0,0,0,0.7);
color: #fff;
opacity: 0;
transition: 0.3s;

/* 글자 가운데 정렬
 
 line-height: 92px;
text-align: center;*/
display:flex;
justify-content: center;
align-items: center; /*익스플로러 안쓰는 후로 요즘 쓰는 추세 */
}

/* ::, : 차이
:: html에 태그로 존재하지 않는 가상요소  ::before, after
: 존재하는 요소 중에서 필터링하는 요소 */

.notice_hover ul li a span:hover em{
    opacity:1;}
.notice_hover ul li a span strong{
    font-size: 12px;
display: block;
padding-top: 3px;}


/* .notice_hover2 */
.notice_hover2{}
.notice_hover2 ul{}
.notice_hover2 ul li{
    float: left;
    width: 32%; 
    margin-right: 2%;
}
.notice_hover2 ul li:last-child{margin-right: 0;}
.notice_hover2 ul li a{}
.notice_hover2 ul li a span{
    overflow: hidden;
    display: block; 
    position: relative;}
.notice_hover2 ul li a span img{
    width: 100%; 
    display: block;/* 아래쪽에 빈공간안생김 */}
.notice_hover2 ul li a span em{
    position: absolute;
    bottom: -30px;
    left: 0; /* right: 0; */
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    transition: 0.3s;
    text-align: center;
    padding: 3px 0;
}

.notice_hover2 ul li a span:hover em{bottom: 0;}
.notice_hover2 ul li a strong{
    font-size: 12px;
    padding-top: 3px;
    display: block; /* inline요소는 상하가 적용안됨 */
}


/* 게시판유형3 */
.notice3{position: relative;}
.notice3 h4{
    font-size: 14px;
    color: #0093bd;
    font-weight: bold;
    padding-bottom: 3px;
}
.notice3 ul{}
.notice3 ul li{
    position: relative;
padding: 8px 0 16px 60px;}
.notice3 ul li a{}
.notice3 ul li a img{
    width: 50px;
position: absolute;
left: 0; top: 0;
}
.notice3 ul li a strong{}
.notice3 ul li a span{display: block;
/* 말줄임말은 block 요소이어야한다 공간보다 텍스트가 넘칠때 적용된다*/
overflow: hidden;
text-overflow: ellipsis;
white-space:nowrap;
}

/* 탭메뉴 */
.tab_menu{
    position: relative;
    border: 1px solid #ccc;
height: 108px; padding: 8px;
}
.tab_menu ul{border-bottom: 1px solid #ccc;}
.tab_menu ul li{float: left;
    border: 1px solid #ccc;
    margin-right: -1px;margin-bottom: -1px;
   
}
.tab_menu ul li a{display: block;
  padding: 5px 10px;
}

.tab_menu ul li.active{
    background-color: #2c94c4;}

.tab_menu ul li.active a{color: #ccc;}

.tab_menu ul li ul{
    position: absolute; left: 8px; top: 48px;
    width: 270px;
    border-bottom: none;

}
.tab_menu ul li ul li{
    border: none;
float: none;
background: url(../img/dot.gif)no-repeat 0 7px;
padding-left: 8px;
}
.tab_menu ul li ul li a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 3px 0;
}


.tab_menu ul li.active ul li a{color:#222 ;}
  
/* -----------게시판유형4---------------- */

.notice4{
    margin-top: 15px;
border: 1px solid #ccc;
position: relative;}

.notice4 h4{border-bottom: 1px solid #ccc; 
padding: 8px 10px;
color: #0090bd;}
.notice4 h4 em{color: #cf3292;}

.notice4 ul{padding: 10px;}
.notice4 ul li{
overflow: hidden;}
.notice4 ul li a{
float: left; 
 width: 60%;
overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.notice4 ul li a span{
    
    float: right; 
    width: 30%;}

.notice4 .more{position: absolute;
background: none;
width: auto;
height: auto;
right: 9px; top: 9px;}




/****** gallery *****/
.gallery{
    position: relative;
    border: 1px solid #ccc;}
.gallery h4{
    font-size: 14px;
    color: #0090bd;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding: 10px 0 8px 11px;
    
}
.gallery .gallery_img{}
.gallery .gallery_img img{
    width: 100%;}
.gallery .gallery_btn{
    position: absolute;
    right: 8px;top: 8px;}
.gallery .gallery_btn button{
    width: 23px; height: 23px;
    background: url(../img/icon.png) ;
    cursor: pointer;
}
.gallery .gallery_btn button.gb_icon1{
    background-position: -150px -120px;}
.gallery .gallery_btn button.gb_icon2{
    background-position: -150px -143px;}
.gallery .gallery_btn button.gb_icon3{
    background-position: -150px -166px;}
.gallery .gallery_btn button.gb_icon4{
    background-position: -150px -189px;}

    .gallery .gallery_btn button.gb_icon1:hover{
        background-position: -173px -120px;}
    .gallery .gallery_btn button.gb_icon2:hover{
        background-position: -173px -143px;}
    .gallery .gallery_btn button.gb_icon3:hover{
        background-position: -173px -166px;}
    .gallery .gallery_btn button.gb_icon4:hover{
        background-position: -173px -189px;}


        /*********** 로그인 ***********/
        .login_wrap{
            background-color: #f2f4f5; 
            padding: 15px;}

        .login_header{
            font-size: 12px;
             padding: 3px 0;}

        .login_header .lh_check{
            float: left; 
            padding-right: 15px;}

        .login_header .lh_check .infor_check{
            vertical-align: -3px;}

        .login_header .lh_ip{
        float: left;}

       .lh_check .infor_check .lh_ip em{}

       .login_content{
        position: relative;}
       .login_content .lc_text{}
       .login_content .lc_text .input_text{
        width: 182px; 
        height: 16px;
        border: 1px solid #bebebe;
        background-color: #fff;
        padding: 2px 5px;
        margin-bottom: 3px;
        outline: none;}
       .login_content .lc_btn{
        position: absolute;
        right: 0; top: 0;
        width: 62px;height: 47px;
        background-color: #fff;
        border: 1px solid #bebebe;
       }

       .login_footer{margin-top: 5px;}
       .login_footer ul{}
       .login_footer ul li{display: inline;}




       /*********** footer**********/
.footer{
    padding: 25px 0; 
    text-align: center;}
.footer ul{}
.footer ul li{
    position: relative;
    display: inline; 
    padding:0 7px 0 10px; }
.footer ul li::before{
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 2px;
width: 1px;
height: 12px;
background-color: #ccc;}

.footer ul li:first-child:before{width: 0; height: 0;}

.footer ul li a{}
.footer ul li a strong{}
.footer address{}





       /****** 팝업   col3 *******/
       .popup{margin-top: 15px;}
       .popup h4{font-size: 14px;
    color: #0093bd;
font-weight: bold;
padding-bottom: 4px;}
       .popup ul{}
       .popup ul li{
        width: 32.3%;
        float: left;
        margin-right: 1%;}
    .popup ul li .lightgallery{
        margin-right: 0;}
       .popup ul li a{}
       .popup ul li a img{
        width: 100%;}



       /*  layer popup */

   #layer{
        display:none;
        position: fixed; 
        left: 50px; 
        top: 50px; 
        width: 700px; 
        border: 10px solid #dceff7;}
    #layer img{
        width: 100%;
        display:block;}
    #layer .close{
        position: absolute;
        right: 10px; top: 10px;
        background-color: #0093bd;
        color: #fff;
        padding: 2px 6px;}


